.header-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 1em;
    background-color: aqua;
}

.header-nav-container ul{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

.header-nav-container ul li{
    margin: 0 1em;
}

